---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="Estelle Chauvard - à propos de moi">
  <PageTitle title="à propos" />
  <article class="w-full lg:max-w-3xl mx-auto">
    <p class="w-full pb-6 text-xl font-light">
      Dessinatrice et vidéaste formée à l’École Estienne, je m’intéresse à la
      sociologie dont mon travail de création reprend certaines des méthodes
      d’enquête.
    </p>

    <p class="w-full pb-6 text-xl font-light">
      Ma pratique s’organise autour de deux axes : les biographies imaginaires,
      portées par une écriture mêlant textes, dessins, photographies et fausses
      archives (Danielle Dixe à Lagrasse, 2021) d’une part et d’autre part, les
      articulations possibles entre dessin, animation et danse (Tombé du ciel,
      2016 et Chut…, 2023 pour la Compagnie Arcane).
    </p>

    <p class="w-full pb-6 text-xl font-light">
      Par ailleurs graphiste indépendante, je réalise des missions régulières
      pour le Groupe des 20 Théâtres en Île-de-France, la Compagnie Arcane et le
      Centre arabe de recherche et d’études politiques de Paris (CAREP), ainsi
      que des travaux de création ponctuels pour différents clients. Je
      collabore à des projets de films d’animation (No-Go Zone et Sonder de
      William Henne, 2015 / en cours ; Ozymandias d’Alvaro Lamarche-Toloza,
      2021) et enseigne la sociologie à Sciences Po Paris.
    </p>
  </article>
</Layout>
