---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "../layouts/Layout.astro";
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.stories;
console.log("content", content);
const projects = content.filter((item) =>
  item.full_slug?.startsWith("projets/")
);
console.log("project", projects);
---

<Layout title="essai">
  {
    projects.map((p) => (
      <>
        <p>{p.content.title}</p>
        <p>{p.content.description}</p>
        <StoryblokComponent blok={p} />
      </>
    ))
  }
</Layout>
