---
import Layout from "../layouts/Layout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import PageTitle from "../components/PageTitle.astro";
import Splash from "../components/Splash.astro";
import PagesLayout from "../layouts/PagesLayout.astro";
---

<PagesLayout title="Estelle Chauvard - projets et portfolio">
  <PageTitle title="portfolio" />
</PagesLayout>

<script>
  const modal = document.getElementById("modal");
  const success = document.createElement("div");
  modal?.classList.remove("hidden");

  success.innerHTML = `
        <div class=" bg-neutral-100 w-full h-full flex flex-col justify-center items-center px-6 py-3 md:px-20 md:py-10 text-center ">
          <h1
            class="text-3xl md:text-5xl lg:text-6xl  font-extrabold text-neutral-800 tracking-wide"
          >
            Merci !
          </h1>
          <p
            class="text-lg md:text-xl lg:text-3xl text-neutral-600 font-light pt-3 tracking-wide"
          >
            Votre message a bien été envoyé.
          </p>
          <p
            class="text-lg md:text-xl lg:text-3xl  text-neutral-600 font-light tracking-wide"
          >
            Nous allons le traiter dans les plus brefs délais.
          </p>
        </div>
      `;
  //Hide modal when clicked
  const hideModal = () => {
    modal?.classList.add("hidden");
  };
  modal?.appendChild(success);
  modal?.addEventListener("click", (e) => {
    window.location.href = "/";
  });
</script>
