---
import Layout from "../layouts/Layout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
---

<Layout title="Estelle Chauvard - Autrice / Vidéaste / Graphiste">
  <section class="mt-20 mx-auto flex flex-col items-center">
    <h3
      class="uppercase text-3xl px-28 font-extrabold pb-6 border-b-2 text-neutral-900 border-neutral-900 w-fit"
    >
      portfolio
    </h3>

    <ul
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-16 md:gap-12 w-full md:w-11/12 max-w-7xl mt-6 grid-flow-dense"
    >
      <PortfolioItem cols="3" title="Mon titre" />
      <PortfolioItem title="Mon Projet" />
      <PortfolioItem />
      <PortfolioItem cols="2" />
      <PortfolioItem rows="2" />
      <PortfolioItem cols="2" />
      <PortfolioItem />
      <PortfolioItem />
      <PortfolioItem />
    </ul>
  </section>
</Layout>
