---
import { Image } from "astro:assets";

const { picture, alt } = Astro.props;
---

<a
  rel="prefetch"
  href={picture.name.toLowerCase().includes("animation")
    ? picture.filename
    : `${picture.filename}/m/1600x0`}
>
  <Image
    alt={alt}
    loading={"lazy"}
    src={picture.name.toLowerCase().includes("animation")
      ? picture.filename
      : `${picture.filename}/m/480x0`}
    data-large-image={picture.name.toLowerCase().includes("animation")
      ? picture.filename
      : `${picture.filename}/m/1600x0`}
    width={480}
    height={320}
    class="clickable-picture cursor-pointer hover:brightness-110"
  />
</a>
