<footer class="w-full h-fit flex justify-center items-center bg-primary">
  <div class="my-6 mx-12 leading-tight text-center">
    <a href="/contact" class="block mb-3">
      <p class="text-2xl text-white font-bold font-sans uppercase">
        Estelle Chauvard
      </p>
      <p class="text-md text-white font-light italic font-serif">
        Autrice / Vidéaste / Graphiste
      </p>
    </a>
    <div class="leading-tighter">
      <p class="text-xs text-white">
        © {new Date().getFullYear()} - Tous droits réservés
      </p>
      <p class="text-xs text-white">Un site réalisé par Nicolas Seine</p>
    </div>
  </div>
</footer>
