---
import lapin from "../assets/lapin-nez-web.webp";
import { Image } from "astro:assets";
import NavLink from "./NavLink.astro";
---

<header class="pt-20 mx-auto flex flex-col items-center">
  <a
    href="/"
    class="hover:opacity-70 transition-opacity duration-500 max-w-[84px] w-1/12"
  >
    <Image
      alt={"une image de lapin dessiné par Estelle Chauvard"}
      ,
      src={lapin}
    />
  </a>
  <h1
    class="text-4xl md:text-7xl uppercase font-extrabold text-neutral-800 pt-6 tracking-wide"
  >
    <a
      href="/"
      class="flex gap-2 md:flex-col lg:gap-4 items-center lg:flex-row"
    >
      <span>estelle</span> <span>chauvard</span></a
    >
  </h1>
  <h2 class="font-serif italic text-stone-400 pt-4">
    Autrice / Vidéaste / Graphiste
  </h2>
  <nav class="flex gap-6 font-extrabold uppercase pt-12">
    <NavLink text="à propos" link="/about" />
    <NavLink text="cv" link="/cv" />
    <NavLink text="portfolio" link="/" />
    <NavLink text="contact" link="/contact" />
  </nav>
</header>
