---
const propsType = {
  title: String,
  tags: String,
  story: String,
  altLayout: Boolean,
};

const { title, tags = "", altLayout = false } = Astro.props;
---

<div
  class="pb-6 border-b-2 text-neutral-900 border-neutral-900 flex flex-col items-center gap-3 w-10/12 max-w-xl mb-12 lg:mb-24"
  ,
>
  <h3
    class:list={[
      "uppercase text-2xl md:text-3xl font-extrabold  w-fit not-prose text-center",
    ]}
  >
    {title}
  </h3>
  <p class="font-serif capitalize text-gray-500 italic md:text-lg">{tags}</p>
</div>
