---
const { content, altLayout = false } = Astro.props;
---

<h3
  class:list={[
    "uppercase text-3xl font-extrabold pb-6 mb-12 border-b-2 text-neutral-900 border-neutral-900 w-fit",
    { "px-28": !altLayout },
  ]}
>
  {content}
</h3>
