---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import ClickableImage from "../ClickableImage.astro";
const { blok, storyTitle } = Astro.props;
console.log("storyName", storyTitle);
---

<div>
  <img src={blok.mainVisual.filename} alt="jhkjh" />
  {
    blok.content.map((section) => (
      <section>
        <h3>{section.title}</h3>
        <div set:html={renderRichText(section.content)} />
        <ul class="grid-cols-3 grid gap-3">
          {section.gallery.map((picture) => (
            <li class="list-none m-0 p-0">
              <ClickableImage
                picture={picture}
                alt={picture.alt || "Image illustrant le projet" + storyTitle}
              />
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</div>
